.visualizador-3d {
  position: relative;
  background-color: greenyellow;
  height: 75vh;
  width: 100%;
  max-width: 900px;
  overflow: hidden;

  canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
  }

  &__controles {
    position: absolute;
    z-index: 2;
    top: 12px;
    left: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
